


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    grid-area: 1 / 1 / 2 / 6;
}

.left {
    grid-area: 2 / 1 / 4 / 4;
}

.globe-wrapper {
    grid-area: 2 / 4 / 4 / 6;
}

.bottom {
    grid-area: 4 / 1 / 5 / 6;
}

.footer {
    grid-area: 5 / 1 / 6 / 6;
}

.header, .footer {
    width: 100%;
}