@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("/fonts/Inter.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
        url("/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
        url("/fonts/Inter-Bold.woff?v=3.19") format("woff");
}

:root {
    --font-colour: var(--font-colour);
    --font-family: "Inter var", "Inter", 'Open Sans', 'Ubuntu', 'Arial';
    --border-radius: 1.25rem;
    --sidenav-slimwidth: 3.5rem;
    --sidenav-fullwidth: 10rem;
    --sidenav-height: calc(100vh - 3rem - 3.5rem);
    --title-height: 3rem;
    --footer-height: 3.5rem;
    --colour-primary: #4c4c47;
    --colour-secondary: #9999a1;
    --colour-accent: #4595d6;
    --font-colour: #2d2d2a;
    --font-colour-darker: #1d1d1a;
    --background-colour: rgba(50,50,50,0.5);
    --sidenav-colour: #9999a1;
    --sidenav-highlight: #e6e6e9;
    --sidenav-background: transparent;
    --sidenav-hover-bg: rgba(51,51,51,0.4);
    --thin-border: 1px solid rgba(225, 225, 225, 0.325);
    --fill-border: 1px solid rgba(225, 225, 225, 0.675);
    --full-border: 1px solid rgba(245, 245, 245, 1);
    --card-background-colour: transparent;
    --full-background-colour: rgba(50,50,50,0.9);
}


.theme-light {
    --colour-primary: #4c4c47;
    --colour-secondary: #9999a1;
    --colour-accent: #f78a2a;
    --font-colour: #f4f4f6;
    --background-colour: rgba(50,50,50,0.9);
    --sidenav-colour: #9999a1;
    --sidenav-highlight: #e6e6e9;
    --sidenav-background: transparent;
    --sidenav-hover-bg: rgba(51,51,51,0.4);
    --thin-border: 1px solid rgba(225, 225, 225, 0.325);
    --fill-border: 1px solid rgba(225, 225, 225, 0.675);
    --full-border: 1px solid rgba(245, 245, 245, 1);
    --card-background-colour: transparent;
}

.theme-dark {
    --colour-primary: #e6e6e9;
    --colour-secondary: #fb7f10;
    --colour-accent: #fb7f10;
    --font-colour: #f4f4f6;
    --background-colour: rgba(50,50,50,0.9);
    --sidenav-colour: #919191;
    --sidenav-background: transparent;
    --sidenav-highlight: #f0f0f0;
    --sidenav-hover-bg: rgba(251,251,251,0.4);
    --thin-border: 1px solid rgba(125, 125, 125, 0.325);
    --fill-border: 1px solid rgba(125, 125, 125, 0.675);
    --full-border: 1px solid rgba(125, 125, 125, 1);
    --full-background-colour: rgba(50,50,50,0.9);
    --card-background-colour: rgba(50,50,50,0.9);
}


body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: var(--font-family);
    color: var(--font-colour);
    font-size: 1rem;
    /* background-color: --full-background-colour; */
    background-color: rgba(0, 0, 0, .3)
}

a,
a:hover,
a:focus {
    color: var(--colour-accent);
    text-decoration: none;
}

a:visited {
    color: var(--colour-secondary);
    text-decoration: none;
}

.page {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: stretch;
}


.title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--title-height);
    text-align: center;
}

.footer {
    position: fixed;
    background-color: transparent;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    line-height: 0.3;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: right;
}

.globe-wrapper {
    flex: 0 0 50%;
    display: block;
    position: absolute;
    top: 5rem;
    right: 2.5rem;
}

#globe {
    width: 50%;
    height: 50%;
}

#globe-3d,
#globe-2d-overlay,
#globe-popup-overlay,
.globe-popup {
    display: block;
    position: absolute;
}

#globe-2d-overlay,
#globe-popup-overlay {
    pointer-events: none;
}

.globe-popup {
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    color: var(--colour-accent);
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 3px;
    filter: drop-shadow(0px 0px 3px #555555);
}


.globe-container {
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    color: var(--colour-primary);
    font-family: sans-serif;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 3px;
    filter: drop-shadow(0px 0px 3px #555555);
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}


.htf404 {
    color: #fefefe;
    font-size: 20vw;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.sub {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.terra {
    max-width: 10vh;
    position: relative;
    top: 1vw;
    left: 2vw;
}

body {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.footer-text,
.footer-links {
    font-size: 0.725rem;
    font-weight: 500;
    text-align: right;
    margin-right: 1rem;
    margin-bottom: 0;
}


.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  display:var(--fa-display,inline-block);
  font-style:normal;
  font-variant:normal;
  /*! line-height:1; */text-rendering:auto
}


.fa {
    position: relative;
    display: table-cell;
    width: 3rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    line-height: 2.25;
}

.neon-location {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="40px" height="40px" baseProfile="basic"><path fill="%230fd2ff" d="M48,50.021c-5.514,0-10-4.486-10-10s4.486-10,10-10c1.583,0,3.162,0.381,4.565,1.103 c1.474,0.757,2.055,2.565,1.297,4.039c-0.017,0.032-0.033,0.064-0.052,0.097c0.036-0.012,0.071-0.022,0.107-0.033 c1.591-0.446,3.253,0.475,3.705,2.068C57.873,38.178,58,39.095,58,40.021C58,45.534,53.514,50.021,48,50.021z M48,36.021 c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4c0-0.372-0.051-0.739-0.15-1.09c-0.226-0.8-0.106-1.614,0.271-2.286 c-0.732,0.236-1.556,0.195-2.297-0.186C49.257,36.168,48.643,36.021,48,36.021z" opacity=".3" /><path fill="%230fd2ff" d="M48,49.021c-4.963,0-9-4.037-9-9s4.037-9,9-9c1.425,0,2.846,0.343,4.108,0.991 c0.982,0.505,1.37,1.711,0.865,2.693c-0.505,0.981-1.709,1.371-2.693,0.865c-0.71-0.365-1.477-0.55-2.28-0.55c-2.757,0-5,2.243-5,5 s2.243,5,5,5s5-2.243,5-5c0-0.465-0.063-0.923-0.188-1.363c-0.302-1.063,0.315-2.168,1.379-2.469c1.061-0.3,2.168,0.315,2.469,1.379 c0.226,0.794,0.34,1.62,0.34,2.453C57,44.983,52.963,49.021,48,49.021z" opacity=".3" /><path fill="%230fd2ff" d="M35.979,55.042c-0.768,0-1.535-0.293-2.121-0.879C30.08,50.386,28,45.363,28,40.021 c0-5.342,2.08-10.364,5.858-14.142c1.172-1.172,3.072-1.172,4.242,0c1.172,1.172,1.172,3.071,0,4.242 C35.456,32.766,34,36.281,34,40.021s1.456,7.256,4.101,9.9c1.172,1.171,1.172,3.071,0,4.242 C37.515,54.749,36.747,55.042,35.979,55.042z" opacity=".3" /><path fill="%230fd2ff" d="M35.979,54.042c-0.512,0-1.023-0.195-1.414-0.586C30.977,49.867,29,45.096,29,40.021 s1.977-9.847,5.565-13.435c0.781-0.781,2.047-0.781,2.828,0s0.781,2.048,0,2.828C34.561,32.247,33,36.014,33,40.021 s1.561,7.773,4.394,10.607c0.781,0.781,0.781,2.047,0,2.828C37.003,53.847,36.491,54.042,35.979,54.042z" opacity=".3" /><path fill="%230fd2ff" d="M60.021,55.042c-0.768,0-1.535-0.293-2.121-0.879c-1.172-1.171-1.172-3.071,0-4.242 C60.544,47.276,62,43.76,62,40.021s-1.456-7.255-4.101-9.899c-1.172-1.171-1.172-3.07,0-4.242c1.17-1.172,3.07-1.172,4.242,0 C65.92,29.656,68,34.679,68,40.021c0,5.343-2.08,10.365-5.858,14.143C61.556,54.749,60.788,55.042,60.021,55.042z" opacity=".3" /><path fill="%230fd2ff" d="M60.021,54.042c-0.512,0-1.023-0.195-1.414-0.586c-0.781-0.781-0.781-2.047,0-2.828 C61.439,47.794,63,44.027,63,40.021s-1.561-7.773-4.394-10.606c-0.781-0.78-0.781-2.047,0-2.828s2.047-0.781,2.828,0 C65.023,30.174,67,34.945,67,40.021s-1.977,9.847-5.565,13.436C61.044,53.847,60.532,54.042,60.021,54.042z" opacity=".3" /><path fill="%23db3eb1" d="M47.999,88c-0.729,0-1.46-0.265-2.037-0.799c-0.861-0.798-1.149-1.983-0.844-3.039 c-0.983,0.12-1.991-0.25-2.666-1.063c-17.859-21.518-23.9-32.592-23.939-43.887c-0.027-7.796,2.821-14.791,8.238-20.228 c5.641-5.66,13.419-8.906,21.341-8.906c13.954,0,28.669,10.451,29.139,27.941c0.354,13.144-8.235,28.72-27.029,49.018 C49.61,87.677,48.806,88,47.999,88z M48.092,16.079c-6.245,0-12.635,2.67-17.09,7.142c-2.976,2.986-6.517,8.181-6.489,15.971 c0.033,9.564,5.936,20.052,22.557,40.076c0.387,0.466,0.608,1.014,0.672,1.573C64.054,62.826,71.53,49.229,71.232,38.183 C70.86,24.347,59.175,16.079,48.092,16.079z" opacity=".3" /><path fill="%23db3eb1" d="M48,87c-0.486,0-0.974-0.176-1.358-0.532c-0.811-0.751-0.859-2.016-0.109-2.826 c17.851-19.278,26.017-33.732,25.7-45.486c-0.389-14.444-12.579-23.076-24.141-23.076c-6.506,0-13.159,2.779-17.799,7.436 c-3.109,3.12-6.81,8.547-6.78,16.681c0.034,9.829,5.997,20.482,22.787,40.711c0.705,0.85,0.588,2.111-0.262,2.816 c-0.849,0.705-2.11,0.589-2.816-0.262C25.534,61.15,19.551,50.236,19.513,39.209c-0.026-7.524,2.722-14.273,7.947-19.518 c5.453-5.474,12.974-8.612,20.632-8.612c13.476,0,27.686,10.088,28.139,26.969c0.347,12.865-8.157,28.217-26.763,48.311 C49.073,86.784,48.537,87,48,87z" opacity=".3" /><path fill="%230fd2ff" d="M48,48.021c-4.411,0-8-3.589-8-8s3.589-8,8-8c1.267,0,2.529,0.305,3.651,0.881 c0.491,0.253,0.685,0.855,0.433,1.347s-0.853,0.688-1.347,0.433c-0.853-0.438-1.773-0.66-2.737-0.66c-3.309,0-6,2.691-6,6 s2.691,6,6,6s6-2.691,6-6c0-0.557-0.076-1.106-0.226-1.636c-0.15-0.531,0.158-1.084,0.689-1.234 c0.526-0.152,1.083,0.157,1.234,0.689c0.2,0.706,0.302,1.439,0.302,2.181C56,44.432,52.411,48.021,48,48.021z" /><path fill="%230fd2ff" d="M35.979,53.042c-0.256,0-0.512-0.098-0.707-0.293c-3.4-3.4-5.272-7.921-5.272-12.729 s1.872-9.328,5.272-12.728c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414C33.664,31.729,32,35.747,32,40.021 s1.664,8.292,4.687,11.314c0.391,0.391,0.391,1.023,0,1.414C36.491,52.944,36.235,53.042,35.979,53.042z" /><path fill="%230fd2ff" d="M60.021,53.042c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414 C62.336,48.313,64,44.294,64,40.021s-1.664-8.291-4.687-11.313c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 c3.4,3.399,5.272,7.92,5.272,12.728s-1.872,9.328-5.272,12.729C60.532,52.944,60.276,53.042,60.021,53.042z" /><path fill="%23db3eb1" d="M48,86c-0.243,0-0.487-0.088-0.68-0.267c-0.405-0.375-0.43-1.008-0.054-1.413 c18.038-19.481,26.289-34.16,25.965-46.191c-0.404-15.054-13.1-24.05-25.14-24.05c-6.766,0-13.684,2.89-18.507,7.729 c-3.243,3.255-7.103,8.913-7.072,17.39c0.035,10.095,6.059,20.914,23.018,41.347c0.353,0.425,0.294,1.056-0.131,1.408 c-0.427,0.354-1.056,0.293-1.408-0.131C26.475,60.718,20.55,49.964,20.513,39.206c-0.025-7.253,2.621-13.757,7.655-18.809 c5.268-5.286,12.529-8.318,19.924-8.318c12.997,0,26.702,9.724,27.14,25.995C75.57,50.662,67.15,65.789,48.733,85.68 C48.537,85.893,48.269,86,48,86z" /></svg>');
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.neon-watch {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="24px" height="24px" baseProfile="basic"><path fill="%234d4dff" d="M77.501,83.444c-2.035,0-4.07-0.774-5.621-2.323l-8.934-8.935 c-2.304-2.305-1.825-5.188-1.568-6.737c0.035-0.214,0.083-0.497,0.109-0.721L58.55,61.79c-1.172-1.171-1.172-3.071,0-4.242 c1.172-1.172,3.07-1.172,4.242,0l2.806,2.805c0.398-1.063,1.387-1.853,2.594-1.939c0.53-0.039,3.37-0.096,6.099,2.633l8.832,8.832 c1.502,1.501,2.329,3.497,2.329,5.621c0,2.123-0.827,4.119-2.329,5.621C81.573,82.67,79.537,83.444,77.501,83.444z M67.5,64.266 c0.021,0.815-0.104,1.574-0.203,2.166c-0.079,0.476-0.211,1.271-0.129,1.494l8.954,8.952c0.76,0.76,1.998,0.76,2.758,0 c0.368-0.369,0.571-0.858,0.571-1.379s-0.203-1.01-0.571-1.378l-8.832-8.833c-0.726-0.726-1.418-0.891-1.425-0.891l0,0 C68.229,64.423,67.852,64.377,67.5,64.266z M61.872,65.113h0.011H61.872z" opacity=".3" /><path fill="%234d4dff" d="M77.501,82.445c-1.779,0-3.559-0.678-4.914-2.031l-8.934-8.935 c-1.94-1.941-1.549-4.304-1.289-5.866c0.068-0.413,0.17-1.021,0.143-1.28l-3.25-3.25c-0.781-0.781-0.781-2.047,0-2.828 s2.047-0.781,2.828,0l3.322,3.322c1.442,1.441,1.131,3.319,0.903,4.69c-0.24,1.447-0.248,1.965,0.171,2.384l8.934,8.934 c1.15,1.148,3.021,1.148,4.172,0c0.558-0.558,0.864-1.299,0.864-2.086c0-0.788-0.307-1.528-0.864-2.085l-8.832-8.833 c-1.129-1.129-2.179-1.181-2.203-1.181l0,0c-1.121,0.074-2.06-0.749-2.14-1.851c-0.079-1.103,0.749-2.06,1.851-2.14 c0.285-0.016,2.849-0.129,5.32,2.343l8.832,8.832c1.313,1.312,2.036,3.058,2.036,4.914c0,1.855-0.723,3.602-2.036,4.914 C81.061,81.768,79.281,82.445,77.501,82.445z M62.579,64.406h0.011H62.579z" opacity=".3" /><path fill="%230fd2ff" d="M39,68c-15.439,0-28-12.561-28-28s12.561-28,28-28s28,12.561,28,28 c0,6.042-1.895,11.796-5.479,16.639c-0.665,0.901-1.744,1.322-2.775,1.194c0.229,1.019-0.08,2.129-0.907,2.882 C52.677,65.413,45.986,68,39,68z M39,18c-12.131,0-22,9.869-22,22s9.869,22,22,22c5.489,0,10.745-2.032,14.8-5.723 c0.673-0.611,1.552-0.856,2.385-0.759c-0.187-0.822-0.026-1.718,0.515-2.448C59.513,49.268,61,44.748,61,40 C61,27.869,51.131,18,39,18z" opacity=".3" /><path fill="%230fd2ff" d="M39,67c-14.888,0-27-12.112-27-27s12.112-27,27-27s27,12.112,27,27 c0,5.826-1.826,11.374-5.282,16.044c-0.655,0.888-1.908,1.076-2.797,0.418c-0.888-0.656-1.075-1.909-0.418-2.797 C60.445,49.688,62,44.964,62,40c0-12.683-10.317-23-23-23S16,27.317,16,40s10.317,23,23,23c5.738,0,11.233-2.125,15.474-5.983 c0.817-0.744,2.082-0.685,2.825,0.134c0.743,0.816,0.684,2.081-0.134,2.825C52.187,64.505,45.736,67,39,67z" opacity=".3" /><path fill="%234d4dff" d="M77.501,81.445c-1.523,0-3.047-0.579-4.207-1.739l-8.934-8.934c-1.577-1.577-1.249-3.553-1.01-4.996 c0.179-1.074,0.264-1.75-0.064-2.078l-3.322-3.322c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0l3.322,3.322 c1.079,1.078,0.837,2.535,0.624,3.82c-0.249,1.495-0.342,2.461,0.45,3.254l8.934,8.934c1.542,1.54,4.048,1.539,5.586,0 c0.746-0.746,1.157-1.738,1.157-2.793c0-1.056-0.411-2.047-1.157-2.793l-8.832-8.832c-1.53-1.531-2.968-1.472-2.982-1.472 c-0.546,0.035-1.029-0.374-1.069-0.925s0.374-1.03,0.925-1.069c0.103-0.006,2.347-0.144,4.541,2.052l8.832,8.832 c1.124,1.123,1.743,2.617,1.743,4.207c0,1.589-0.619,3.083-1.743,4.207C80.549,80.866,79.025,81.445,77.501,81.445z" /><path fill="%230fd2ff" d="M39,66c-14.337,0-26-11.663-26-26s11.663-26,26-26s26,11.663,26,26c0,5.61-1.759,10.953-5.086,15.449 c-0.328,0.444-0.953,0.539-1.398,0.209c-0.444-0.328-0.538-0.954-0.209-1.398C61.377,50.11,63,45.179,63,40 c0-13.233-10.767-24-24-24S15,26.767,15,40s10.767,24,24,24c5.988,0,11.722-2.218,16.146-6.243c0.408-0.372,1.04-0.342,1.412,0.066 s0.342,1.041-0.066,1.412C51.699,63.598,45.487,66,39,66z" /></svg>');
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.neon-cache {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="24px" height="24px" baseProfile="basic"><path fill="%2344d62c" d="M48,85.503c-0.001,0-0.002,0-0.003,0C30.002,85.501,10.437,73.78,10,48.049 c0-0.034,0-0.068,0-0.102c0.258-15.108,7.645-27.297,20.267-33.441c13.33-6.488,30.023-4.993,41.543,3.721 c1.01,0.765,1.4,2.043,1.082,3.194c1.11-0.442,2.426-0.189,3.294,0.732c6.247,6.643,9.641,15.563,9.814,25.796 c0,0.034,0,0.068,0,0.102C85.56,73.783,65.994,85.503,48,85.503z M16,47.998c0.393,21.644,16.855,31.504,31.998,31.505 C63.14,79.503,79.604,69.645,80,48c-0.158-8.695-2.987-16.21-8.184-21.735c-0.745-0.792-0.976-1.882-0.706-2.857 c-0.943,0.373-2.052,0.26-2.919-0.396c-9.762-7.386-23.947-8.636-35.297-3.11C22.234,25.09,16.236,35.066,16,47.998z" opacity=".3" /><path fill="%2344d62c" d="M48,84.503c-0.001,0-0.002,0-0.003,0C30.476,84.502,11.425,73.088,11,48.032 c0.251-14.786,7.433-26.653,19.704-32.627c13.001-6.327,29.277-4.873,40.502,3.619c0.881,0.666,1.055,1.921,0.389,2.802 c-0.667,0.881-1.922,1.055-2.802,0.388c-10.055-7.606-24.659-8.897-36.338-3.212C21.427,24.37,15.228,34.681,15,48.032 c0.379,22.286,17.371,32.47,32.999,32.471C63.625,80.504,80.619,70.322,81,47.966c-0.152-8.901-3.076-16.666-8.457-22.387 c-0.756-0.805-0.718-2.07,0.087-2.827c0.805-0.758,2.07-0.719,2.827,0.087c6.074,6.458,9.374,15.146,9.542,25.127 C84.572,73.091,65.521,84.503,48,84.503z" opacity=".3" /><path fill="%230fd2ff" d="M37.422,41c-0.049,0-0.098-0.001-0.147-0.004c-1.655-0.079-2.932-1.485-2.852-3.141 c0.081-1.673,0.212-4.401-0.042-5.283c-0.891-0.271-3.718-0.175-5.281-0.124c-1.652,0.042-3.043-1.24-3.099-2.897 c-0.055-1.656,1.242-3.043,2.898-3.099c4.466-0.147,7.689-0.257,9.791,1.875c2.097,2.129,1.942,5.354,1.727,9.817 C40.339,39.75,39.013,41,37.422,41z" opacity=".3" /><path fill="%230fd2ff" d="M37.421,40c-0.032,0-0.065-0.001-0.098-0.002c-1.104-0.054-1.955-0.991-1.901-2.095 c0.112-2.32,0.265-5.499-0.294-6.066c-0.563-0.571-3.74-0.465-6.062-0.388c-1.105,0.066-2.029-0.827-2.066-1.932 s0.828-2.029,1.932-2.066c4.629-0.157,7.333-0.159,9.044,1.578c1.707,1.731,1.664,4.437,1.44,9.067 C39.366,39.167,38.482,40,37.421,40z" opacity=".3" /><path fill="%230fd2ff" d="M48,72c-13.234,0-24-10.767-24-24c0-5.722,2.173-11.125,6.285-15.626 c1.118-1.222,3.014-1.309,4.238-0.191c1.223,1.117,1.309,3.015,0.191,4.238C31.586,39.846,30,43.741,30,48c0,9.925,8.075,18,18,18 s18-8.075,18-18s-8.075-18-18-18c-1.657,0-3-1.343-3-3s1.343-3,3-3c13.234,0,24,10.767,24,24S61.234,72,48,72z" opacity=".3" /><path fill="%230fd2ff" d="M48,71c-12.682,0-23-10.317-23-23c0-5.546,2.026-10.576,6.023-14.951 c0.746-0.817,2.01-0.872,2.826-0.128c0.815,0.745,0.873,2.01,0.127,2.825C30.674,39.361,29,43.483,29,48c0,10.477,8.523,19,19,19 s19-8.523,19-19s-8.523-19-19-19c-1.104,0-2-0.896-2-2s0.896-2,2-2c12.682,0,23,10.317,23,23S60.682,71,48,71z" opacity=".3" /><path fill="%2344d62c" d="M48,83.503c-0.001,0-0.002,0-0.003,0C30.95,83.502,12.413,72.396,12,48.015 c0.245-14.361,7.222-25.907,19.143-31.71c12.669-6.169,28.527-4.755,39.461,3.517c0.44,0.334,0.527,0.961,0.194,1.401 c-0.333,0.44-0.96,0.525-1.401,0.194c-10.347-7.829-25.37-9.159-37.378-3.314C20.634,23.645,14.235,34.268,14,48.015 c0.39,22.996,17.897,33.487,33.998,33.488C64.099,81.504,81.607,71.015,82,47.983c-0.156-9.188-3.174-17.185-8.728-23.089 c-0.378-0.402-0.359-1.035,0.043-1.414c0.402-0.378,1.036-0.358,1.414,0.043c5.9,6.273,9.106,14.731,9.271,24.46 C83.583,72.398,65.047,83.503,48,83.503z" /><path fill="%230fd2ff" d="M37.421,39c-0.017,0-0.033,0-0.049-0.001c-0.551-0.026-0.977-0.495-0.951-1.047 c0.178-3.694,0.228-5.997-0.58-6.817c-0.813-0.824-3.114-0.808-6.807-0.686c-0.565,0.065-1.015-0.413-1.033-0.966 c-0.019-0.552,0.414-1.014,0.966-1.032c4.352-0.147,6.882-0.158,8.299,1.28c1.416,1.437,1.37,3.84,1.154,8.316 C38.393,38.583,37.951,39,37.421,39z" /><path fill="%230fd2ff" d="M48,70c-12.131,0-22-9.869-22-22c0-5.289,1.938-10.092,5.762-14.277 c0.372-0.406,1.004-0.435,1.413-0.063c0.408,0.372,0.437,1.005,0.064,1.413C29.762,38.877,28,43.227,28,48c0,11.028,8.972,20,20,20 s20-8.972,20-20s-8.972-20-20-20c-0.552,0-1-0.447-1-1s0.448-1,1-1c12.131,0,22,9.869,22,22S60.131,70,48,70z" /></svg>');
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.neon-export {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="40px" height="40px" baseProfile="basic"><path fill="%23e0e722" d="M68.738,79.006c-2.228,0-4.788-0.033-7.825-0.072C52.683,78.83,41.41,78.686,24.054,79 c-1.534,0.07-2.86-1.136-3.035-2.654c-2.068,2.697-5.77,2.672-8.229,2.658L12,79c-1.657,0-3-1.343-3-3s1.343-3,3-3l0.829,0.003 c3.505,0.026,3.515-0.069,3.666-1.191c0.712-5.275,1.858-14.585,2.868-22.799c0.425-3.455,0.817-6.644,1.126-9.121 C20.906,36.561,23.496,33,29.516,33h50.953c2.007,0,3.92,0.863,5.248,2.368c1.329,1.504,1.947,3.51,1.698,5.502 c-1.028,7.33-1.604,13.123-2.066,17.777c-1.459,14.692-2.006,20.189-14.438,20.347C70.222,79.002,69.499,79.006,68.738,79.006z M29.516,39c-2.868,0-3.011,1.146-3.072,1.636c-0.31,2.475-0.701,5.659-1.125,9.109c-1.012,8.231-2.16,17.56-2.877,22.87 c-0.044,0.327-0.1,0.636-0.167,0.931c0.473-0.334,1.048-0.534,1.671-0.545c17.445-0.317,28.773-0.171,37.044-0.065 c4.031,0.053,7.215,0.095,9.844,0.059c7.067-0.089,7.067-0.089,8.543-14.94c0.468-4.708,1.05-10.569,2.089-17.974 c0.042-0.346-0.137-0.616-0.249-0.742C81.107,39.212,80.861,39,80.469,39H29.516z" opacity=".3" /><path fill="%23e0e722" d="M68.738,78.006c-2.222,0-4.779-0.033-7.812-0.071c-8.237-0.105-19.52-0.25-36.89,0.064 C22.935,78.036,22.02,77.14,22,76.036c-0.02-1.104,0.859-2.016,1.963-2.036c17.432-0.316,28.749-0.171,37.014-0.065 c4.039,0.052,7.228,0.095,9.87,0.059c7.738-0.098,8.005-0.542,9.525-15.841c0.467-4.7,1.048-10.548,2.084-17.934 c0.068-0.548-0.104-1.106-0.489-1.543C81.583,38.24,81.051,38,80.469,38H29.516c-3.751,0-3.987,1.891-4.065,2.512 c-0.309,2.475-0.701,5.66-1.125,9.111c-1.012,8.228-2.159,17.554-2.875,22.858c-0.752,5.573-5.309,5.546-8.653,5.522L12,78 c-1.104,0-2-0.896-2-2s0.896-2,2-2l0.823,0.003c3.936,0.03,4.411-0.187,4.664-2.057c0.713-5.281,1.859-14.595,2.869-22.812 c0.425-3.454,0.817-6.642,1.127-9.119C21.659,38.605,22.759,34,29.516,34h50.953c1.72,0,3.36,0.74,4.498,2.029 c1.139,1.29,1.669,3.009,1.455,4.716c-1.029,7.334-1.606,13.139-2.069,17.803c-1.473,14.825-1.917,19.299-13.455,19.446 C70.213,78.002,69.495,78.006,68.738,78.006z" opacity=".3" /><path fill="%23ffad00" d="M11,74c-1.657,0-3-1.343-3-3V22.748C8,18.186,11.104,15,15.549,15h20.934 c2.723,0,4.547,1.186,7.072,2.826c0.381,0.248,0.791,0.514,1.237,0.799l0.089,0.057c1.354,0.864,2.23,1.394,3.119,1.394 c5.262,0,14.919-0.043,20.633-0.069c2.41-0.011,4.121-0.019,4.513-0.019C77.438,19.987,80,22.609,80,27v3.951c0,1.657-1.343,3-3,3 s-3-1.343-3-3V27c0-0.534-0.066-0.813-0.105-0.933c-0.106-0.032-0.334-0.08-0.749-0.08c-0.39,0-2.09,0.008-4.486,0.019 c-5.722,0.026-15.391,0.069-20.66,0.069c-2.685,0-4.714-1.295-6.345-2.335l-0.089-0.057c-0.462-0.295-0.886-0.57-1.28-0.827 C38.114,21.446,37.385,21,36.483,21H15.549C14.568,21,14,21.286,14,22.748V71C14,72.657,12.657,74,11,74z" opacity=".3" /><path fill="%23ffad00" d="M11,73c-1.104,0-2-0.896-2-2V22.748C9,18.712,11.632,16,15.549,16h20.934 c2.426,0,4.058,1.06,6.527,2.665c0.383,0.249,0.795,0.517,1.245,0.803l0.089,0.057c1.304,0.832,2.431,1.55,3.656,1.55 c5.263,0,14.922-0.043,20.638-0.069c2.407-0.011,4.117-0.019,4.508-0.019C76.921,20.987,79,23.123,79,27v3.951c0,1.104-0.896,2-2,2 s-2-0.896-2-2V27c0-1.749-0.417-2.013-1.854-2.013c-0.39,0-2.093,0.008-4.49,0.019C62.935,25.032,53.268,25.075,48,25.075 c-2.393,0-4.207-1.157-5.808-2.178l-0.089-0.057c-0.459-0.293-0.881-0.567-1.273-0.822C38.522,20.519,37.664,20,36.483,20H15.549 C13.833,20,13,20.899,13,22.748V71C13,72.104,12.104,73,11,73z" opacity=".3" /><path fill="%23e0e722" d="M68.739,77.006c-2.215,0-4.77-0.033-7.8-0.071c-8.244-0.106-19.535-0.25-36.921,0.065 c-0.563,0.016-1.008-0.43-1.018-0.982c-0.01-0.552,0.43-1.008,0.982-1.018c17.417-0.315,28.725-0.17,36.983-0.065 c4.044,0.052,7.24,0.092,9.895,0.059c8.855-0.112,9.044-2.006,10.508-16.742c0.466-4.691,1.046-10.529,2.08-17.894 c0.105-0.839-0.16-1.698-0.729-2.343S81.329,37,80.469,37H29.516c-3.032,0-4.78,1.171-5.057,3.388 c-0.31,2.475-0.701,5.661-1.126,9.113c-1.011,8.225-2.158,17.548-2.874,22.847c-0.635,4.7-4.197,4.674-7.656,4.656L12,77 c-0.552,0-1-0.448-1-1s0.448-1,1-1l0.816,0.003c3.74,0.022,5.277-0.08,5.661-2.923c0.714-5.287,1.86-14.604,2.871-22.823 c0.425-3.453,0.817-6.641,1.126-9.117C22.667,38.595,23.74,35,29.516,35h50.953c1.434,0,2.8,0.616,3.749,1.691 s1.391,2.507,1.212,3.93c-1.03,7.34-1.608,13.156-2.072,17.829c-1.478,14.875-1.829,18.409-12.473,18.544 C70.206,77.002,69.492,77.006,68.739,77.006z" /><path fill="%23ffad00" d="M11,72c-0.552,0-1-0.448-1-1V22.748C10,19.256,12.178,17,15.549,17h20.934 c2.13,0,3.58,0.942,5.982,2.503c0.386,0.25,0.8,0.52,1.251,0.808l0.09,0.057c1.436,0.917,2.676,1.708,4.194,1.708 c5.264,0,14.925-0.043,20.642-0.069c2.405-0.011,4.113-0.019,4.504-0.019C76.367,21.987,78,23.674,78,27v3.951c0,0.552-0.448,1-1,1 s-1-0.448-1-1V27c0-2.196-0.773-3.013-2.854-3.013c-0.39,0-2.095,0.008-4.495,0.019C62.932,24.032,53.267,24.075,48,24.075 c-2.101,0-3.712-1.027-5.27-2.021l-0.089-0.057c-0.457-0.292-0.876-0.564-1.266-0.817C39.142,19.729,38.02,19,36.483,19H15.549 C13.293,19,12,20.366,12,22.748V71C12,71.552,11.552,72,11,72z" /></svg>');
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.neon-setttings {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="40px" height="40px" baseProfile="basic"><path fill="%234d4dff" d="M60.89,40.749c-2.593,0-5.204-0.89-7.153-2.572c-2.841-2.452-3.825-6.098-2.701-10.003 c0.458-1.592,2.117-2.514,3.713-2.053c0.056,0.016,0.11,0.033,0.164,0.052c-0.015-0.026-0.029-0.052-0.043-0.079 c-0.771-1.466-0.208-3.28,1.259-4.052c3.064-1.612,6.727-1.438,9.793,0.469c3.051,1.896,4.819,5.088,4.731,8.54 c-0.018,4.002-1.986,7.225-5.4,8.779C63.894,40.449,62.395,40.749,60.89,40.749z M56.53,27.529c0.382,0.676,0.503,1.5,0.271,2.305 c-0.475,1.65-0.195,2.894,0.855,3.8c1.303,1.124,3.548,1.446,5.11,0.735c1.262-0.574,1.879-1.689,1.887-3.408 c0.034-1.363-0.676-2.593-1.899-3.353c-1.237-0.771-2.67-0.865-3.833-0.254C58.153,27.759,57.288,27.795,56.53,27.529z" opacity=".3" /><path fill="%234d4dff" d="M60.88,39.753c-2.353,0-4.722-0.807-6.49-2.333c-2.533-2.186-3.405-5.455-2.394-8.969 c0.306-1.062,1.413-1.674,2.476-1.369c1.062,0.306,1.674,1.414,1.368,2.475c-0.578,2.007-0.176,3.679,1.163,4.834 c1.6,1.38,4.256,1.764,6.178,0.888c1.608-0.732,2.463-2.224,2.473-4.314c0.043-1.701-0.844-3.258-2.371-4.207 c-1.545-0.959-3.348-1.068-4.827-0.29c-0.978,0.515-2.187,0.138-2.701-0.839c-0.514-0.978-0.138-2.187,0.84-2.701 c2.746-1.445,6.037-1.285,8.8,0.433c2.746,1.707,4.338,4.572,4.259,7.665c-0.016,3.617-1.771,6.509-4.814,7.895 C63.605,39.481,62.245,39.753,60.88,39.753z" opacity=".3" /><path fill="%230fd2ff" d="M59.554,52.965c-3.61,0-5.973-1.146-6.708-4.998c-0.166-0.868-0.274-1.437-0.934-2.101 c-0.413-0.1-0.825-0.004-1.735,0.277c-2.956,0.911-6.033,1.023-8.576-4.191c-3.259-4.805-1.506-7.513,0.651-9.53 c0.842-0.787,1.091-1.076,1.155-1.642c-0.014-0.103-0.149-0.547-1.384-1.377c-0.118-0.08-0.231-0.168-0.338-0.264 c-4.104-3.708-0.442-8.767,1.12-10.927c0.229-0.315,0.441-0.607,0.615-0.869c1.24-1.832,3.897-3.075,7.738-1.274 c0.497,0.088,0.784,0.078,0.916,0.063c0.157-0.3,0.331-1.02,0.439-1.469c0.416-1.714,1.188-4.906,4.717-5.4 c0.036-0.005,0.071-0.01,0.107-0.013c6.018-0.626,10.038-0.645,11.05,4.563c0.152,0.782,0.269,1.384,0.897,2.124 c0.97,0.202,1.558,0.002,2.322-0.258c4.656-1.582,6.688,0.972,9.481,7.291c0.545,1.229,1.342,4.387-2.927,7.281 c-0.221,0.181-0.294,0.356-0.271,0.628c0.042,0.474,0.416,1.125,1.052,1.449c0.194,0.099,0.377,0.219,0.545,0.358 c2.835,2.341,2.088,6.603,0.091,9.788c-2.261,3.604-5.569,5.085-8.427,3.774l-0.15-0.064c-0.385-0.167-0.993-0.429-1.332-0.498 c-1.094,1.159-2.938,1.287-4.159,0.235c-1.255-1.081-1.42-2.951-0.339-4.207c2.832-3.29,6.496-1.777,8.134-1.071 c0.819-0.493,1.946-2.438,2.042-3.486c-1.942-1.324-3.231-3.452-3.434-5.754c-0.206-2.355,0.77-4.534,2.678-5.977 c0.049-0.037,0.099-0.072,0.149-0.106c0.288-0.191,0.485-0.345,0.62-0.462c-0.925-2.042-1.505-3.025-1.837-3.494 c-1.305,0.444-3.487,1.175-6.765,0.094c-0.414-0.137-0.793-0.361-1.111-0.659c-2.434-2.279-2.883-4.465-3.141-5.792 c-0.578-0.052-1.719-0.061-3.923,0.148c-0.084,0.28-0.173,0.645-0.239,0.92c-0.487,2.012-1.783,7.355-8.814,5.785 c-0.248-0.056-0.488-0.143-0.715-0.259c-0.335-0.171-0.611-0.275-0.816-0.336c-0.106,0.148-0.219,0.304-0.334,0.464 c-0.504,0.696-1.621,2.24-1.819,3.028c2.467,1.805,3.663,3.926,3.556,6.314c-0.002,0.036-0.004,0.072-0.007,0.108 c-0.244,3.005-1.999,4.646-3.047,5.625c-0.163,0.152-0.366,0.342-0.506,0.488c0.086,0.234,0.299,0.687,0.819,1.43 c0.098,0.14,0.184,0.289,0.257,0.444c0.387,0.822,0.675,1.236,0.837,1.432c0.191-0.048,0.447-0.127,0.653-0.19 c1.358-0.419,3.63-1.12,6.348,0.126c0.244,0.112,0.472,0.256,0.678,0.429c2.598,2.18,3.039,4.495,3.304,5.878 c0.006,0.03,0.012,0.063,0.018,0.095c0.723,0.063,2.394,0.035,6.155-0.562c1.634-0.263,3.173,0.856,3.433,2.493 c0.26,1.636-0.856,3.173-2.493,3.433C63.473,52.679,61.357,52.965,59.554,52.965z M73.562,40.753l0.023,0.01 C73.578,40.76,73.57,40.756,73.562,40.753z" opacity=".3" /><path fill="%230fd2ff" d="M59.504,51.957c-3.508,0-5.094-1.125-5.676-4.177c-0.188-0.982-0.352-1.838-1.393-2.797 c-0.826-0.301-1.498-0.12-2.554,0.204c-2.469,0.763-5.081,1.1-7.413-3.737c-3.028-4.418-1.433-6.522,0.466-8.297 c0.889-0.83,1.395-1.35,1.479-2.377c0.007-0.179,0.041-0.943-1.832-2.202c-0.079-0.053-0.154-0.112-0.225-0.176 c-3.438-3.107-0.266-7.492,1.26-9.599c0.236-0.327,0.457-0.63,0.638-0.901c1.304-1.925,3.753-2.238,6.599-0.867 c2.013,0.42,2.123-0.021,2.635-2.132c0.384-1.588,1.028-4.245,3.884-4.646c6.745-0.702,9.262-0.238,10.036,3.751 c0.177,0.912,0.345,1.777,1.345,2.833c1.438,0.38,2.284,0.093,3.178-0.211c3.886-1.321,5.536,0.622,8.246,6.748 c0.551,1.244,0.941,3.683-2.606,6.07c-0.508,0.4-0.728,0.898-0.673,1.521c0.079,0.9,0.719,1.806,1.593,2.252 c0.13,0.066,0.251,0.146,0.363,0.239c2.367,1.955,1.646,5.67-0.12,8.485c-1.977,3.151-4.788,4.485-7.162,3.396l-0.17-0.072 c-1.797-0.776-2.083-0.702-2.438-0.29c-0.72,0.836-1.981,0.932-2.82,0.211c-0.837-0.72-0.932-1.983-0.211-2.82 c2.397-2.786,5.545-1.427,7.056-0.772l0.205,0.088c0.165,0.078,0.743-0.125,1.469-0.945c1.352-1.526,1.865-3.566,1.653-4.153 c-1.896-1.119-3.216-3.146-3.402-5.269c-0.176-2.005,0.657-3.861,2.285-5.092c0.032-0.024,0.065-0.048,0.1-0.071 c1.135-0.754,1.237-1.151,1.238-1.155c-1.634-3.665-2.406-4.563-2.68-4.783c-0.156,0.035-0.429,0.127-0.638,0.198 c-1.263,0.429-3.168,1.076-6.144,0.096c-0.275-0.091-0.528-0.241-0.74-0.439c-2.229-2.087-2.604-4.022-2.853-5.303 c-0.04-0.206-0.092-0.471-0.137-0.624c-0.342-0.125-1.533-0.331-5.489,0.081c-0.129,0.167-0.349,1.075-0.48,1.618 c-0.503,2.077-1.556,6.396-7.624,5.044c-0.166-0.037-0.326-0.095-0.477-0.172c-0.894-0.458-1.518-0.55-1.741-0.522 c-0.19,0.282-0.425,0.606-0.676,0.954c-1.215,1.678-2.451,3.516-1.882,4.219c1.053,0.716,3.568,2.576,3.43,5.664 c-0.218,2.691-1.734,4.109-2.738,5.048c-1.113,1.041-1.256,1.174,0.178,3.222c0.065,0.094,0.123,0.193,0.171,0.296 c1.068,2.271,1.254,2.213,2.689,1.772c1.302-0.401,3.268-1.007,5.637,0.08c0.162,0.075,0.314,0.171,0.451,0.286 c2.325,1.951,2.71,3.966,2.965,5.299c0.05,0.26,0.115,0.604,0.173,0.762c0.339,0.151,1.719,0.431,7.139-0.428 c1.09-0.174,2.116,0.57,2.289,1.662s-0.571,2.116-1.662,2.289C63.16,51.716,61.126,51.957,59.504,51.957z" opacity=".3" /><path fill="%234d4dff" d="M35.122,74.749c-2.587,0-5.192-0.888-7.136-2.566c-2.835-2.446-3.817-6.084-2.695-9.98 c0.458-1.592,2.117-2.515,3.713-2.053c0.047,0.014,0.093,0.028,0.139,0.043c-0.01-0.019-0.021-0.037-0.03-0.056 c-0.771-1.466-0.208-3.28,1.259-4.052c3.06-1.608,6.711-1.434,9.771,0.467c3.043,1.891,4.809,5.076,4.721,8.52 c-0.018,3.994-1.982,7.209-5.389,8.76C38.119,74.45,36.624,74.749,35.122,74.749z M30.799,61.58 c0.372,0.672,0.487,1.486,0.258,2.283c-0.473,1.641-0.194,2.876,0.85,3.778c1.295,1.117,3.527,1.438,5.083,0.731 c1.254-0.571,1.867-1.679,1.875-3.389c0.034-1.355-0.673-2.579-1.889-3.334c-1.232-0.766-2.657-0.861-3.812-0.253 C32.404,61.796,31.552,61.836,30.799,61.58z" opacity=".3" /><path fill="%234d4dff" d="M35.113,73.753c-2.347,0-4.711-0.805-6.474-2.327c-2.527-2.181-3.397-5.441-2.388-8.946 c0.305-1.063,1.413-1.673,2.476-1.369c1.062,0.306,1.674,1.414,1.368,2.475c-0.575,1.998-0.175,3.662,1.157,4.812 c1.592,1.375,4.238,1.755,6.15,0.884c1.601-0.729,2.451-2.213,2.461-4.294c0.043-1.693-0.84-3.243-2.361-4.188 c-1.538-0.956-3.333-1.063-4.805-0.289c-0.979,0.516-2.187,0.139-2.701-0.839c-0.514-0.978-0.138-2.187,0.84-2.701 c2.74-1.443,6.023-1.28,8.777,0.431c2.739,1.702,4.328,4.56,4.249,7.646c-0.016,3.608-1.767,6.493-4.803,7.875 C37.831,73.482,36.475,73.753,35.113,73.753z" opacity=".3" /><path fill="%230fd2ff" d="M33.786,87.009c-3.612,0-5.977-1.146-6.713-5c-0.166-0.87-0.274-1.439-0.936-2.106 c-0.417-0.101-0.83-0.004-1.74,0.277c-2.954,0.912-6.037,1.025-8.582-4.194c-3.261-4.809-1.508-7.519,0.651-9.537 c0.844-0.789,1.093-1.079,1.157-1.646c-0.014-0.103-0.149-0.55-1.386-1.381c-0.119-0.08-0.232-0.169-0.339-0.265 c-4.104-3.711-0.441-8.773,1.123-10.935c0.229-0.316,0.441-0.609,0.615-0.871c1.242-1.832,3.901-3.072,7.742-1.274 c0.504,0.089,0.79,0.078,0.921,0.063c0.157-0.3,0.333-1.022,0.441-1.472c0.416-1.716,1.189-4.91,4.72-5.405 c0.036-0.005,0.071-0.01,0.107-0.013c6.021-0.625,10.047-0.645,11.059,4.566c0.152,0.784,0.27,1.387,0.9,2.128 c0.97,0.202,1.561,0.002,2.328-0.258c4.657-1.58,6.69,0.973,9.488,7.297c0.545,1.23,1.341,4.39-2.929,7.285 c-0.223,0.182-0.297,0.358-0.272,0.631c0.041,0.476,0.417,1.128,1.055,1.454c0.194,0.099,0.377,0.219,0.545,0.358 c2.836,2.342,2.089,6.607,0.09,9.794c-2.261,3.606-5.571,5.089-8.432,3.778l-0.15-0.064c-0.387-0.167-0.997-0.431-1.336-0.5 c-1.096,1.16-2.94,1.287-4.16,0.237c-1.256-1.081-1.421-2.951-0.34-4.207c2.832-3.29,6.503-1.778,8.141-1.071 c0.822-0.493,1.954-2.445,2.048-3.496c-1.945-1.325-3.235-3.456-3.438-5.76c-0.206-2.357,0.771-4.537,2.68-5.98 c0.049-0.037,0.099-0.072,0.148-0.105c0.29-0.192,0.489-0.347,0.624-0.464c-0.929-2.049-1.51-3.034-1.842-3.503 c-1.309,0.443-3.491,1.177-6.773,0.095c-0.414-0.137-0.793-0.361-1.111-0.659c-2.437-2.282-2.886-4.471-3.144-5.8 c-0.581-0.053-1.723-0.061-3.933,0.148c-0.086,0.281-0.175,0.648-0.241,0.925c-0.488,2.012-1.776,7.356-8.82,5.789 c-0.248-0.056-0.488-0.142-0.715-0.258c-0.337-0.172-0.614-0.277-0.821-0.337c-0.105,0.149-0.219,0.305-0.335,0.465 c-0.505,0.698-1.625,2.247-1.823,3.036c2.471,1.806,3.668,3.93,3.561,6.319c-0.002,0.036-0.004,0.072-0.007,0.108 c-0.244,3.007-2,4.648-3.05,5.629c-0.163,0.153-0.367,0.344-0.508,0.491c0.087,0.234,0.3,0.688,0.822,1.435 c0.098,0.14,0.184,0.289,0.257,0.443c0.389,0.826,0.678,1.241,0.84,1.437c0.192-0.048,0.449-0.128,0.656-0.191 c1.357-0.419,3.632-1.12,6.353,0.127c0.244,0.112,0.472,0.256,0.678,0.429c2.6,2.182,3.042,4.499,3.306,5.883 c0.006,0.031,0.013,0.064,0.02,0.097c0.721,0.064,2.394,0.036,6.165-0.562c1.638-0.26,3.173,0.856,3.433,2.493 c0.26,1.637-0.856,3.174-2.493,3.433C37.709,86.723,35.592,87.009,33.786,87.009z M47.812,74.791l0.022,0.01 C47.826,74.797,47.818,74.794,47.812,74.791z" opacity=".3" /><path fill="%230fd2ff" d="M33.736,86.001c-3.511,0-5.098-1.126-5.681-4.18c-0.188-0.984-0.352-1.841-1.395-2.801 c-0.824-0.3-1.5-0.121-2.559,0.204c-2.474,0.763-5.085,1.099-7.419-3.741c-3.031-4.423-1.435-6.528,0.466-8.304 c0.89-0.832,1.396-1.352,1.48-2.381c0.007-0.18,0.041-0.947-1.834-2.207c-0.08-0.054-0.155-0.112-0.227-0.177 c-3.438-3.11-0.263-7.498,1.263-9.607c0.237-0.327,0.457-0.631,0.639-0.902c1.305-1.926,3.76-2.238,6.603-0.867 c2.024,0.424,2.13-0.022,2.641-2.136c0.386-1.589,1.03-4.249,3.887-4.65c6.763-0.705,9.271-0.238,10.046,3.753 c0.178,0.914,0.346,1.781,1.348,2.838c1.438,0.379,2.289,0.093,3.184-0.211c3.885-1.316,5.54,0.622,8.253,6.755 c0.551,1.246,0.94,3.686-2.608,6.075c-0.509,0.401-0.73,0.9-0.675,1.525c0.079,0.903,0.72,1.81,1.596,2.257 c0.13,0.066,0.251,0.146,0.363,0.239c2.368,1.956,1.646,5.675-0.12,8.492c-1.979,3.155-4.793,4.489-7.168,3.4l-0.171-0.073 c-1.802-0.778-2.087-0.703-2.443-0.29c-0.721,0.836-1.981,0.932-2.82,0.211c-0.837-0.721-0.932-1.983-0.211-2.82 c2.398-2.788,5.548-1.427,7.063-0.772l0.204,0.088c0.159,0.072,0.745-0.124,1.477-0.951c1.352-1.529,1.864-3.571,1.651-4.158 c-1.897-1.119-3.219-3.148-3.405-5.274c-0.176-2.006,0.658-3.864,2.287-5.095c0.032-0.024,0.065-0.048,0.099-0.07 c1.139-0.757,1.24-1.155,1.24-1.159c-1.637-3.674-2.41-4.573-2.684-4.791c-0.156,0.035-0.43,0.127-0.64,0.199 c-1.264,0.429-3.173,1.076-6.149,0.096c-0.275-0.091-0.528-0.241-0.74-0.439c-2.23-2.089-2.606-4.026-2.855-5.309 c-0.04-0.206-0.092-0.473-0.137-0.626c-0.342-0.125-1.531-0.331-5.498,0.08c-0.131,0.167-0.352,1.078-0.483,1.622 c-0.503,2.078-1.549,6.404-7.63,5.048c-0.165-0.037-0.325-0.095-0.477-0.172c-0.896-0.459-1.509-0.551-1.746-0.524 c-0.19,0.283-0.425,0.607-0.676,0.956c-1.217,1.681-2.456,3.522-1.884,4.228c1.053,0.716,3.57,2.577,3.432,5.668 c-0.217,2.693-1.735,4.113-2.74,5.052c-1.115,1.043-1.259,1.177,0.178,3.229c0.065,0.094,0.123,0.192,0.171,0.296 c1.069,2.272,1.253,2.221,2.695,1.775c1.303-0.401,3.271-1.008,5.642,0.081c0.162,0.075,0.314,0.171,0.451,0.286 c2.328,1.953,2.713,3.97,2.968,5.304c0.049,0.26,0.115,0.605,0.173,0.763c0.338,0.153,1.722,0.433,7.149-0.428 c1.093-0.173,2.116,0.57,2.289,1.662s-0.571,2.116-1.662,2.289C37.396,85.76,35.36,86.001,33.736,86.001z" opacity=".3" /><path fill="%234d4dff" d="M60.87,38.758c-2.112,0-4.239-0.725-5.827-2.095c-2.225-1.92-2.985-4.813-2.086-7.936 c0.152-0.529,0.706-0.838,1.237-0.684c0.531,0.153,0.837,0.707,0.685,1.238c-0.876,3.044,0.316,4.871,1.471,5.868 c1.908,1.646,4.955,2.084,7.246,1.041c1.387-0.631,3.043-2.049,3.058-5.219c0.052-2.039-1.012-3.923-2.844-5.061 c-1.848-1.148-4.024-1.271-5.819-0.326c-0.487,0.257-1.094,0.069-1.351-0.42c-0.258-0.489-0.069-1.093,0.419-1.351 c2.432-1.278,5.35-1.129,7.807,0.397c2.441,1.517,3.857,4.055,3.788,6.79c-0.015,3.23-1.557,5.793-4.229,7.01 C63.317,38.514,62.097,38.758,60.87,38.758z" /><path fill="%230fd2ff" d="M59.477,50.954c-3.349,0-4.232-1.085-4.667-3.362c-0.21-1.104-0.428-2.244-1.841-3.474 c-1.271-0.537-2.298-0.221-3.381,0.113c-2.316,0.714-4.249,0.924-6.251-3.285c-2.643-3.816-1.437-5.458,0.28-7.064 c0.861-0.804,1.674-1.564,1.792-3.027c0.046-1.04-0.674-2.04-2.27-3.112c-0.04-0.027-0.077-0.056-0.113-0.088 c-2.771-2.505-0.16-6.114,1.399-8.27c0.245-0.338,0.473-0.652,0.66-0.933c1.012-1.492,3.037-1.66,5.437-0.47 c3.094,0.656,3.409-0.671,3.937-2.848c0.387-1.597,0.868-3.585,3.051-3.891c7.105-0.74,8.344,0.007,8.916,2.951 c0.198,1.022,0.422,2.176,1.799,3.532c1.892,0.571,3.023,0.187,4.027-0.154c2.826-0.961,4.162-0.229,7.009,6.206 c0.76,1.712-0.017,3.352-2.305,4.873c-0.973,0.738-1.116,1.716-1.056,2.401c0.109,1.25,0.947,2.449,2.134,3.055 c0.064,0.033,0.126,0.073,0.182,0.12c1.89,1.561,1.153,4.817-0.33,7.183c-1.694,2.701-4.009,3.884-5.899,3.019l-0.189-0.082 c-1.793-0.775-2.729-1.028-3.593-0.024c-0.36,0.419-0.994,0.464-1.41,0.105c-0.419-0.36-0.466-0.992-0.105-1.41 c1.915-2.227,4.314-1.193,5.901-0.507l0.208,0.089c1.063,0.485,2.499-0.829,3.394-2.253c1.131-1.805,1.488-3.836,0.812-4.523 c-1.721-0.932-2.931-2.722-3.095-4.598c-0.146-1.655,0.544-3.188,1.891-4.207c2.094-1.394,1.76-2.148,1.634-2.433 c-2.563-5.796-3.181-5.582-4.538-5.122c-1.134,0.386-2.851,0.97-5.508,0.093c-0.138-0.045-0.264-0.121-0.37-0.22 c-1.992-1.865-2.33-3.61-2.555-4.764c-0.273-1.416-0.382-2.002-6.71-1.347c-0.726,0.103-0.96,0.768-1.35,2.377 c-0.525,2.168-1.321,5.443-6.435,4.304c-0.083-0.019-0.163-0.047-0.238-0.086c-0.392-0.201-2.374-1.156-2.983-0.255 c-0.195,0.293-0.438,0.629-0.699,0.99c-1.687,2.331-2.98,4.36-1.726,5.57c0.868,0.585,3.202,2.224,3.084,4.854 c-0.184,2.27-1.425,3.43-2.422,4.362c-1.298,1.213-1.891,1.767,0.041,4.526c0.032,0.046,0.062,0.096,0.086,0.148 c1.438,3.058,2.206,2.819,3.889,2.302c1.224-0.376,2.9-0.894,4.925,0.033c0.081,0.038,0.157,0.085,0.226,0.143 c2.053,1.722,2.384,3.456,2.625,4.721c0.306,1.599,0.459,2.403,8.451,1.134c0.543-0.086,1.057,0.286,1.144,0.831 c0.087,0.545-0.285,1.058-0.831,1.145C62.92,50.741,60.957,50.954,59.477,50.954z" /><path fill="%234d4dff" d="M35.104,72.758c-2.106,0-4.228-0.723-5.811-2.089c-2.219-1.915-2.977-4.799-2.08-7.913 c0.152-0.53,0.706-0.837,1.237-0.684c0.531,0.153,0.838,0.707,0.685,1.238c-0.873,3.033,0.314,4.853,1.465,5.845 c1.898,1.639,4.936,2.075,7.218,1.037c1.382-0.629,3.032-2.042,3.047-5.2c0.052-2.031-1.008-3.908-2.833-5.042 c-1.842-1.144-4.008-1.266-5.798-0.324c-0.487,0.257-1.094,0.069-1.351-0.42c-0.258-0.489-0.069-1.093,0.419-1.351 c2.425-1.275,5.334-1.127,7.785,0.396c2.435,1.513,3.847,4.043,3.777,6.771c-0.015,3.222-1.553,5.777-4.218,6.99 C37.543,72.514,36.325,72.758,35.104,72.758z" /><path fill="%230fd2ff" d="M33.709,84.998c-3.352,0-4.236-1.086-4.671-3.365c-0.211-1.105-0.429-2.247-1.844-3.479 c-1.273-0.537-2.302-0.221-3.386,0.113c-2.316,0.715-4.251,0.925-6.257-3.288c-2.646-3.82-1.438-5.464,0.28-7.071 c0.861-0.805,1.676-1.566,1.794-3.031c0.047-1.042-0.675-2.044-2.272-3.117c-0.04-0.027-0.077-0.056-0.113-0.088 c-2.773-2.508-0.159-6.121,1.402-8.279c0.245-0.339,0.473-0.653,0.66-0.934c1.026-1.514,3.003-1.681,5.441-0.469 c3.098,0.659,3.414-0.671,3.942-2.853c0.387-1.599,0.869-3.588,3.054-3.895c7.113-0.74,8.352,0.007,8.925,2.954 c0.198,1.024,0.423,2.18,1.802,3.538c1.893,0.571,3.029,0.187,4.033-0.154c2.834-0.963,4.167-0.228,7.016,6.212 c0.759,1.714-0.017,3.355-2.307,4.877c-0.975,0.739-1.118,1.719-1.059,2.405c0.11,1.251,0.949,2.453,2.138,3.06 c0.064,0.033,0.126,0.073,0.182,0.12c1.891,1.562,1.154,4.822-0.331,7.19c-1.694,2.704-4.012,3.891-5.904,3.022l-0.189-0.082 c-1.794-0.775-2.733-1.031-3.599-0.024c-0.36,0.42-0.994,0.464-1.41,0.105c-0.419-0.36-0.466-0.992-0.105-1.41 c1.921-2.231,4.32-1.193,5.907-0.507l0.208,0.089c1.06,0.486,2.504-0.829,3.398-2.257c1.133-1.807,1.49-3.842,0.813-4.53 c-1.723-0.933-2.934-2.725-3.099-4.603c-0.145-1.656,0.545-3.19,1.894-4.21c2.097-1.396,1.762-2.152,1.636-2.438 c-2.567-5.806-3.189-5.587-4.545-5.128c-1.137,0.386-2.854,0.969-5.514,0.093c-0.138-0.045-0.264-0.121-0.37-0.22 c-1.994-1.867-2.333-3.614-2.558-4.769c-0.274-1.419-0.391-2.007-6.719-1.35c-0.728,0.103-0.962,0.77-1.353,2.381 c-0.525,2.171-1.321,5.449-6.44,4.308c-0.083-0.019-0.163-0.047-0.238-0.086c-0.393-0.201-2.379-1.155-2.988-0.256 c-0.196,0.293-0.438,0.629-0.7,0.991c-1.688,2.334-2.984,4.366-1.728,5.579c0.869,0.586,3.205,2.226,3.087,4.859 c-0.184,2.272-1.426,3.433-2.424,4.366c-1.3,1.215-1.894,1.77,0.041,4.534c0.032,0.046,0.062,0.096,0.086,0.147 c1.44,3.063,2.209,2.824,3.895,2.306c1.293-0.398,2.904-0.896,4.93,0.033c0.081,0.038,0.157,0.085,0.226,0.143 c2.055,1.724,2.386,3.458,2.628,4.726c0.305,1.601,0.456,2.405,8.462,1.135c0.546-0.086,1.057,0.286,1.144,0.831 c0.087,0.545-0.285,1.058-0.831,1.145C37.156,84.785,35.19,84.998,33.709,84.998z" /></svg>');
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.neon-help {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="24px" height="24px" baseProfile="basic"><path fill="%230fd2ff" d="M48,85.503c-0.001,0-0.002,0-0.003,0C30.002,85.501,10.437,73.78,10,48.049 c0-0.034,0-0.068,0-0.102c0.258-15.108,7.645-27.297,20.267-33.441c13.33-6.489,30.023-4.994,41.543,3.721 c1.01,0.765,1.4,2.043,1.082,3.194c1.11-0.442,2.426-0.189,3.294,0.732c6.247,6.643,9.641,15.563,9.814,25.796 c0,0.034,0,0.068,0,0.102C85.56,73.783,65.994,85.503,48,85.503z M16,47.998c0.393,21.644,16.855,31.504,31.998,31.505 C63.14,79.503,79.604,69.645,80,48c-0.158-8.695-2.987-16.21-8.184-21.735c-0.745-0.792-0.976-1.882-0.706-2.857 c-0.943,0.373-2.052,0.26-2.919-0.396c-9.762-7.385-23.947-8.636-35.297-3.11C22.234,25.09,16.236,35.066,16,47.998z" opacity=".3" /><path fill="%230fd2ff" d="M48,84.503c-0.001,0-0.002,0-0.003,0C30.476,84.502,11.425,73.088,11,48.032 c0.251-14.786,7.433-26.653,19.704-32.627c13.001-6.327,29.277-4.874,40.502,3.619c0.881,0.666,1.055,1.921,0.389,2.802 c-0.667,0.881-1.922,1.055-2.802,0.388c-10.055-7.607-24.659-8.897-36.338-3.212C21.427,24.37,15.228,34.681,15,48.032 c0.379,22.286,17.371,32.47,32.999,32.471C63.625,80.504,80.619,70.322,81,47.966c-0.152-8.901-3.076-16.666-8.457-22.387 c-0.756-0.805-0.718-2.07,0.087-2.827c0.805-0.758,2.07-0.719,2.827,0.087c6.074,6.458,9.374,15.146,9.542,25.127 C84.572,73.091,65.521,84.503,48,84.503z" opacity=".3" /><path fill="%230fd2ff" d="M48,34c-1.657,0-3-1.343-3-3v-3c0-1.657,1.343-3,3-3s3,1.343,3,3v3 C51,32.657,49.657,34,48,34z" opacity=".3" /><path fill="%230fd2ff" d="M48,33c-1.104,0-2-0.896-2-2v-3c0-1.104,0.896-2,2-2s2,0.896,2,2v3 C50,32.104,49.104,33,48,33z" opacity=".3" /><path fill="%230fd2ff" d="M48,69c-1.657,0-3-1.343-3-3V42c0-1.657,1.343-3,3-3s3,1.343,3,3v24 C51,67.657,49.657,69,48,69z" opacity=".3" /><path fill="%230fd2ff" d="M48,68c-1.104,0-2-0.896-2-2V42c0-1.104,0.896-2,2-2s2,0.896,2,2v24 C50,67.104,49.104,68,48,68z" opacity=".3" /><path fill="%230fd2ff" d="M48,83.503c-0.001,0-0.002,0-0.003,0C30.95,83.502,12.413,72.396,12,48.015 c0.245-14.361,7.222-25.907,19.143-31.71c12.669-6.169,28.527-4.755,39.461,3.517c0.44,0.334,0.527,0.961,0.194,1.401 c-0.333,0.439-0.96,0.525-1.401,0.194c-10.347-7.828-25.37-9.159-37.378-3.314C20.634,23.645,14.235,34.268,14,48.015 c0.39,22.996,17.897,33.487,33.998,33.488C64.099,81.504,81.607,71.015,82,47.983c-0.156-9.188-3.174-17.185-8.728-23.089 c-0.378-0.402-0.359-1.035,0.043-1.414c0.402-0.377,1.036-0.358,1.414,0.043c5.9,6.273,9.106,14.731,9.271,24.46 C83.583,72.398,65.047,83.503,48,83.503z" /><path fill="%230fd2ff" d="M48,32c-0.552,0-1-0.447-1-1v-3c0-0.553,0.448-1,1-1s1,0.447,1,1v3C49,31.553,48.552,32,48,32z" /><path fill="%230fd2ff" d="M48,67c-0.552,0-1-0.447-1-1V42c0-0.553,0.448-1,1-1s1,0.447,1,1v24C49,66.553,48.552,67,48,67z" /></svg>');
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.side-icon > a {
    display: block;
    padding-left: 2.5rem;
    text-decoration: none;
    color: var(--colour-primary);
}

.side-icon {
    background-size: contain;
    margin: 0.5rem;
}

.inactive {
    filter: grayscale(100%);
}

.sidenav {
    float: left;
    flex: 0 0 3rem; 
    transition: flex-basis 0.3s;
    background: var(--sidenav-background);
    height: 100%;
}

.main {
    flex: 1;
    transition: width 0.3s;
}

.main-menu:hover,
nav.main-menu.expanded {
    flex-basis: var(--sidenav-fullwidth);
    overflow: visible;
}


p:hover,
p:focus {
    text-decoration: none;
}

.no-touch 
.scrollable.hover {
    overflow-y: hidden;
}
    
.no-touch 
.scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}


nav {
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
}
    
nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

nav.main-menu li.active > p,
.main-menu li:hover > p,
.no-touch {
    color: var(--colour-accent);
    background-color: var(--sidenav-hover-bg);
}

.main-menu {
    background: transparent;
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 2.75rem;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
    
}

.main-menu > ul {
    margin: 0.75rem 0;
    top: var(--title-height);
    position: fixed;
}

.main-menu li {
    position: relative;
    display: inline-table;
    width: var(--sidenav-fullwidth);
    cursor: pointer;
}

li .main-menu :hover,
li .main-menu .active :hover {
    filter: none;
    color: var(--colour-accent);
    background-color: rgba(180,180,180,0.9);
}

.main-menu li > p {
    position: relative;
    display: table-row;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgba(201,201,201,1);
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: var(--sidenav-slimwidth);
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    color: var(--colour-primary);
}
    
.main-menu .nav-text {
    position: relative;
    display: table-cell;
    height: 2rem;
    vertical-align: middle;
    width: var(--sidenav-fullwidth);
    font-family: sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
    padding-left: 0.5rem;
}


.header {
    position: fixed;
    background-color: transparent;
    height: 3rem;
    width: 100%;
    text-align: left;
    padding-left: 3.25rem;
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 0.5;
    color: var(--sidenav-highlight);
}

.container {
    display: flex;
    align-items: stretch; /* This ensures the sidebar and content are of equal height */
}

.sidebar {
    flex: 0 0 3rem; /* This means the sidebar starts at 50px wide and doesn't grow or shrink */
    transition: flex-basis 0.3s; /* This animates the width change */
    top: var(--title-height);
    height: calc(100% - var(--title-height) - var(--footer-height));
}

.main-content {
    flex: 1; /* This means the content div will take up the rest of the space */
    transition: width 0.3s; /* This animates the width change */
    top: var(--title-height);
    height: calc(100% - var(--title-height));
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    top: var(--title-height);
    position: relative;
    left: 0;   
    border-radius: var(--border-radius) 0 0 0;
    border: var(--thin-border);
    background: rgba(240,240,240,0.4);
    padding: 0.5rem;
    font-size: 0.8rem;
    display: block;
    overflow: scroll;
}

.content-inner {
    left: 0;
    position: relative;
    width: calc(100% - 50dvw);
}

.sidebar:hover {
    flex-basis: var(--sidenav-fullwidth); /* This sets the sidebar width to 150px on hover */
}


.card {
    background-color:var(--card-background-colour);
    border-radius: var(--border-radius);
    border: var(--thin-border);
    padding: 0.5rem 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.75rem;
    backdrop-filter: blur(10px);
    border: var(--thin-border);
    margin-bottom: 0.75rem;
}

.card-header {
    color: #f1f2f1;
    border-bottom: var(--thin-border);
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 0.75rem;
    font-weight: 400;
}


.ip2l-table table {
    padding: 0.25rem;
}

.ip2l-table th {
    padding: 0.25rem;
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--font-colour-darker);
    text-align: right;
    padding-right: 1rem;
}

 .ip2l-table td {
    padding: 0.25rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--font-colour);
}





/* style.css | https://ip2location.terra-net.uk:9999/css/style.css */

.content {
    background: rgba(40,40,40,0.7);
    backdrop-filter: blur(10px);
    /* background: var(--background-colour); */
    color: #f1f2f3;
  }
  
 
  .ip2l-table th {
    /* color: var(--font-colour-darker); */
    color: rgba(180,180,180,1);
  }
  
  :root {
    /* --background-colour: rgba(50,50,50,0.5); */
    
  }
  
  .ip2l-table td {
    color: rgba(250,250,250,0.9);
  }
  
  .card {
    /* color: var(--font-colour); */
    background: rgba(40,40,40,0.7);
    backdrop-filter: blur(10px);
  }
  
  .header {
    /* font-size: 1.25rem; */
    font-size: 1rem;
  }
  

  /* ip2location.widget.css | https://192.168.0.1/widgets/widgets/ip2location.widget.css */
  
  .wb-header {
    /* font-size: 1.5rem; */
    font-size: 1.15rem;
  }
  
  .wb-title {
    /* font-size: 1.15rem; */
    font-size: 1rem;
  }
 
 .wb-drag {
	height: 100%;
	display: inline-flex;
}

li.main-menu:hover {
    background-color: rgba(205,200,205,0.6);
    color: #fb7f10;
}

li.main-menu:hover > a {
    color: #fb7f10;
}



.winbox iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	background-color: rgba(0,0,0,0.5);
}