{{define "pfsense.html.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <link rel="stylesheet" href="/css/fa-solid.min.css">
</head>
<body>

<!-- Header  -->
<div class="header"><p>{{ .Title }}</p></div>

<!-- Container -->
<div class="container">
    <div class="sidebar">
        <nav class="main-menu">
        <ul>
            <li><p><i class="fa fa-bar-chart"></i><span class="nav-text">Dashboard</span></p></li>
            <li><p><i class="fa fa-list"></i><span class="nav-text">Watchlist</span></p></li>
            <li><p><i class="fa fa-table"></i><span class="nav-text">Cache</span></p></li>
            <li><p><i class="fa fa-map-marker"></i><span class="nav-text">Maps</span></p></li>
            <li><p><i class="fa fa-folder-open"></i><span class="nav-text">Export</span></p></li>
            <li><p><i class="fa fa-info"></i><span class="nav-text">Help</span></p>
            </li>
        </ul>
        </nav>
    </div>
    <div class="main-content">
    <!-- Content -->    
    {{template "Content" .}}
    <!-- Content -->    
    </div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="footer-content">
        <div class="footer-text">
            <p>IP2Location Backend Service for pfSense. Powered by <a href="https://ip2location.io/" target="_blank">IP2Location.io</a></p>
            <a href="https://codepen.io/ksenia-k/pen/NWERpmb" target="_blank">3D Globe Three.js with location pointer by Ksenia Kondrashova</a>
        </div>
    </div>
</div>

<div class="globe-wrapper">
    <canvas id="globe-3d"></canvas>
    <canvas id="globe-2d-overlay"></canvas>
    <div id="globe-popup-overlay">
        <div class="globe-popup"></div>
    </div>
</div>

<script type="x-shader/x-fragment" id="fragment-shader-map">
{{NoEscape .shaderCode}}
</script>
<script type="x-shader/x-vertex" id="vertex-shader-map">
{{NoEscape .vertexCode}}

</script>
<script type="text/javascript" src="/js/gsap.min.js"></script>
<script type="text/javascript" src="/js/bundle.js"></script>
<script type="text/javascript">

var theme = {{ .Theme }}
var ipAddr = {{ .IPAddr }}
var realIP = {{ .RealIP }}
var keyExpires = {{ .APIKeyExpires }}
var apiKey = {{ .APIKey }}
var coordinates = [{{ .Coordinates.Lat }}, {{ .Coordinates.Lon }}]

function addPointer(lat, long) {
    
    if (point.length) {
        console.log("lat: " + lat + "; long: " + long);
        pointerPos = new THREE.Vector2(lat, long);
        //pointerPos = new THREE.Vector2(res[0].face.normal.x, res[0].face.normal.y);
        pointer.position.set(res[0].face.normal.x, res[0].face.normal.y, res[0].face.normal.z);
        mapMaterial.uniforms.u_pointer.value = res[0].face.normal;
        popupEl.innerHTML = cartesianToLatLong();
        showPopupAnimation(true);
        clock.start()
    }
}

addPointer(coordinates[0], coordinates[1]);

</script>
</body>
</html>
{{end}}