{{define "Content"}}

<div class="content">
    <div class="content-inner">
        
        <div class="card">
            <div class="card-header">Location</div>
            <div class="card-body">
                {{ .LocationTable | NoEscape }}
            </div>
        </div>

        <div class="card">
            <div class="card-header">Tehnical</div>
            <div class="card-body">
                {{ .TechnicalTable | NoEscape }}
            </div>
        </div>

        <div class="card">
            <div class="card-header">Log history</div>
            <div class="card-body">
                {{ .LogHistoryTable | NoEscape }}
            </div>
        </div>
        
    </div>
</div>

{{end}}