{{template "layout" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Template</h1>
            <p>This is my templated content.</p>
            <p class="card-text">Code: {{.code }}</p>
            <p class="card-text">Message: {{.message }}</p>
        </div>
    </div>
</div>
{{end}}